
/* ----- Estilos básicos -------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../Imagenes/fondo_pagina.png");
  background-repeat: repeat;
  font: 70%/160% "verdana", sans-serif;
  color: #3E3E3E;
}

a {
  color:#192666;
}
a:hover {
  color:#4F6AD7;
}
 
p {
  margin: 1em 0;
  padding: 0;
}
 
.clear {
  clear: both;
}
 
h1, h2, h3, h4, h5 {
  margin: 1em 0;
  padding:0;
}
 
h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}
 
h2 {
  font-size:180%;
  font-family: "georgia", serif;
  font-weight:normal;
}
 
h3 {
  font-size:120%;
  font-weight:bold;
}
 
ul, ol {
  margin: 1em 0 1em 2em;
  padding:0;
}

/* ----- Contenedor -------------------------------- */  
#contenedor{
  width:830px;
  margin: 20px auto 0 auto;
  }

#bar { 
   display: block; 
  position: relative;
  padding: 5px 13px;
  height: 30px;
  border: 0;
  background: #2D2D2D;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
  
/* ----- Cabecera ---------------------------------- */ 
#cabecera{
  width: 830px;
  position: relative;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #0B5578 url("../Imagenes/fondo_cabecera.png") no-repeat;
  color: #FFF;
  clear:both;
  }
  
#cabecera h1 {
  position: absolute;
  left: 35%;
  top: 73px;
}

/* Login Button */
#loginButton { 
    float:right;
    background:#2D2D2D; 
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#FFFFFF; 
    font-size: 12px; 
    font-weight:bold; 
    padding: 7px 29px 9px 10px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background: #2288BB;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#2D2D2D;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#FFFFFF;
    font-size:12px;
}

input:focus {
    outline:none;
}
  
#cabecera #buscador { float: right; }

#cabecera #buscador {
  position: absolute;
  top: 173px;
  right: -10px;
}

#cabecera #buscador legend {
  display: none;
}
 
#cabecera #buscador fieldset {
  border: none;
}

#busqueda{
  width: 59%;
}
  
/* ----- Menú --------------------------------------- */
#Menu {
  background: #2D2D2D;
  margin: 0 0px;
  padding: 0px 0 0 0;
}

#Menu ul {
  margin: 0 8px;
  padding: 0;
  list-style:none;
}

#Menu ul li {
  margin: 0 5px 0 0;
  padding: 0;
  float:left;
}

#Menu ul li a {
  display: block; 
  position: relative;
  padding: 5px 13px;
  border: 0;
  background: #2D2D2D;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#Menu ul li a:hover {
  background: #2288BB;
}

#Menu ul li.seleccionado a {
  background: #FFF;
  color: #6D6F81;
}
  
/*----- Contenido --------------------------------------------- */  
#contenido{
  float:right;
  padding-left: 5px;
  background: #E1E1E1;
}

#contenido{
  width: 825px;
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #DEE5FD;
  color:#0B5578;
}

#contenido h2{
  color: #000000;
}
  
/*----- Pie --------------------------------------------------- */  
#pie{
  clear:both;
  }
  
#pie {
  background: #2D2D2D;
  margin: 0 0px;
  padding: 6px 0 0 0;
}
  
#pie .copyright{
  float:right;
  color: #FFFFFF;
  margin: 0 6px;
}

/*ALTRES*/

#cajaformulario{
  margin-top: 2%;
}

#formulario{
  margin-left: 35%;
}

#crud{
  margin-left: 14%;
  margin-top: 2%;
}
.item > p{
  display: inline-block;
}

.borrar{
  display: none;
}

#zonadatos{
  margin-top: 2%;
  margin-bottom: 2%;
  max-height: 300px;
  overflow:scroll; 
}

#combo{
  display: none;
  width:40%;
  height: 25px;
}

.item{
  border: 1px solid;
  padding: 1%;
  color: white;
}

.item:nth-child(odd){
  background: #2288BB;
}

.item:nth-child(even){
  background:  #0B5578;
}

#boto1, #boto2, #boto3, #boto4, #boto5, #boto6{
  padding: 10px;
  border: 1px;
  border-radius: 2px;
  background: #2D2D2D;
  font-weight: bold;
  color: white;
}

input[type="text"]{
  width:40%;
}

#boto1:hover, #boto2:hover, #boto3:hover, #boto4:hover, #boto5:hover, #boto6:hover{
  background: #2288BB;
  cursor: pointer;

}




